@model LibraryManagementSystem.Models.Author

@{
    ViewData["Title"] = "Yazar Sil";
}

<h3 class="delete-title">@ViewData["Title"]</h3>

<div class="alert alert-danger">
    <strong>@Model.FirstName @Model.LastName</strong> adlı yazarı silmek istediğinizden emin misiniz?
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a href="/Author/List" class="btn btn-secondary">Vazgeç</a>
</form>
