@{
    ViewData["Title"] = "Hakkında";
}


<div class="about-container">
    <div class="about-title">Hakkında</div>
    <div class="about-text">
        Bu uygulama, ASP.NET Core MVC mimarisi kullanılarak geliştirilmiş bir Kütüphane Yönetim Sistemidir.
        Kullanıcılar kitap ve yazar bilgilerini sisteme kaydedebilir, güncelleyebilir ve silebilir.
        Proje boyunca nesne yönelimli programlama ilkelerine sadık kalınmış ve ViewModel yapısı uygulanmıştır.
        Modern bir web uygulaması olarak bootstrap desteği ile duyarlı (responsive) bir tasarım sağlanmıştır.
        Geliştirme sürecinde öğrenilen teknolojiler arasında MVC mimarisi, Razor View Engine, Routing, Partial View ve
        Layout yapıları bulunmaktadır.
        Bu proje, hem öğrenme sürecini desteklemek hem de gerçek dünyadaki küçük çaplı veri yönetimi ihtiyaçlarını
        karşılamak amacıyla tasarlanmıştır.
    </div>

    <div class="about-icon">
        <img src="~/images/book.png" alt="Bilgi İkonu" />
    </div>
</div>
